.container {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: var(--background-alt-grey);
}

.backgroundWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.backgroundImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentWrapper {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 100%;
    padding: 2rem;
    background-color: var(--background-default-grey);
    box-shadow: 0 4px 12px rgb(0 0 0 / 10%);

    & img {
        width: 5rem;
        height: 5rem;
    }

    & .title {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

@media screen and (min-width: 576px) {
    .container {
        position: relative;
        display: flex;
        align-items: center;
        min-height: 600px;
    }

    .backgroundWrapper {
        position: absolute;
        top: 0;
        right: 0;
        left: auto;
        z-index: 0;
        width: 50%;
        height: 100%;
    }

    .contentWrapper {
        position: relative;
        z-index: 1;
        width: 100%;
        padding: 4rem 0;
    }

    .card {
        gap: 2.5rem;
        width: 30rem;
    }
}

@media screen and (min-width: 992px) {
    .card {
        margin-left: 10%;
    }

    .backgroundWrapper {
        width: 55%;
    }

    .contentWrapper {
        justify-content: inherit;
    }
}

@media screen and (min-width: 1248px) {
    .backgroundWrapper {
        width: 60%;
    }
}

@media screen and (min-width: 1440px) {
    .card {
        margin-left: calc((100vw - 1200px) / 2);
    }

    .backgroundWrapper {
        width: 65%;
    }
}
