.alerts__table thead tr:first-child th {
    background-image: none;
}

.alerts__caption {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alerts__caption h1 {
    margin: 0;
}

.alerts__icon--info {
    color: var(--text-default-info);
}

.alerts__icon--warning {
    color: var(--text-default-warning);
}

.alerts__icon--error {
    color: var(--text-default-error);
}

.alerts__icon--success {
    color: var(--text-default-success);
}
