.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-self: stretch;
    justify-content: center;
    padding: 1rem;
    background: var(--background-default-grey, #fff);

    & .body {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 1.5rem;
        align-self: stretch;
    }

    & .illustration {
        align-self: stretch;
        aspect-ratio: 256/143.65;
    }

    & .picto {
        width: 2.5rem;
        height: 2.5rem;
        aspect-ratio: 1/1;
    }

    & .title {
        align-self: stretch;
        padding: 0;
        margin: 0;
        margin-bottom: 0.75rem;
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.25rem; /* 128.571% */
        color: var(--text-title-grey, #161616);
    }

    & .desc {
        padding: 0;
        margin: 0;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.75rem;
        color: var(--text-default-grey, #3a3a3a);

        & strong {
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 700;
            line-height: 1.75rem; /* 155.556% */
            color: var(--text-default-grey, #3a3a3a);
        }
    }

    & .content {
        flex: 1;
    }

    & .footer {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: flex-start;
        justify-content: center;
        min-height: 3rem;
    }

    &.noIllustration {
        display: flex;
        padding: 0;
        margin: 0;

        & .body {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            align-items: flex-start;
            align-self: stretch;
            padding: 1rem;
        }

        & .footer {
            margin-top: auto;
        }

        & .title {
            font-size: 1.75rem;
            font-style: normal;
            font-weight: 700;
            line-height: 2.25rem; /* 128.571% */
        }

        & .desc {
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.75rem;

            & strong {
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 700;
                line-height: 1.75rem; /* 155.556% */
            }
        }
    }
}

@media screen and (min-width: 576px) {
    .container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: flex-start;
        align-self: stretch;
        justify-content: center;
        padding: 1.5rem;

        & .body {
            padding: 1.5rem 2.5rem;
        }

        & .illustration {
            align-self: stretch;
            aspect-ratio: 496/278.33;
        }

        & .desc {
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 700;
            line-height: 1.75rem; /* 155.556% */

            & strong {
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 700;
                line-height: 1.75rem; /* 155.556% */
            }
        }

        & .footer {
            display: flex;
            flex-direction: row;
            gap: 1.5rem;
            align-items: center;
        }

        &.noIllustration {
            height: 100%;

            & .body {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                align-items: flex-start;
                align-self: stretch;
                height: 100%;
                padding: 1rem;
            }

            & .title {
                font-size: 1.75rem;
                font-style: normal;
                font-weight: 700;
                line-height: 2.25rem; /* 128.571% */
            }

            & .desc {
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.75rem;

                & strong {
                    font-size: 1.125rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1.75rem; /* 155.556% */
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: flex-start;
        align-self: stretch;
        justify-content: center;
        padding: 1.5rem;

        & .body {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            align-items: flex-start;
            align-self: stretch;
            justify-content: center;
            padding: 1.5rem 2.5rem;
        }

        & .illustration {
            align-self: stretch;
            height: 24.1295rem;
            aspect-ratio: 688/386.07;
        }

        & .title {
            font-size: 1.75rem;
            font-style: normal;
            font-weight: 700;
            line-height: 2.25rem; /* 128.571% */
        }

        & .desc {
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.75rem;

            & strong {
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 700;
                line-height: 1.75rem; /* 155.556% */
            }
        }

        &.noIllustration {
            & .body {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                align-items: flex-start;
                align-self: stretch;
                padding: 2.5rem;
            }

            & .title {
                font-size: 1.75rem;
                font-style: normal;
                font-weight: 700;
                line-height: 2.25rem; /* 128.571% */
            }

            & .desc {
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.75rem;

                & strong {
                    font-size: 1.125rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1.75rem; /* 155.556% */
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .container {
        display: flex;
        flex-direction: row;
        gap: 2.5rem;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        padding: 1.5rem;

        &.illustrationRight {
            flex-direction: row-reverse;
        }

        & .illustration {
            flex: 1 0 0;
            align-self: auto;
            height: 15rem;
            aspect-ratio: 428/240.17;
        }

        & .body {
            display: flex;
            flex: 1 0 0;
            flex-direction: column;
            gap: 1.5rem;
            align-items: flex-start;
            align-self: auto;
            justify-content: center;
            padding: 1.5rem 2.5rem;
        }

        & .title {
            font-size: 2rem;
            font-style: normal;
            font-weight: 700;
            line-height: 2.5rem; /* 125% */
        }

        & .desc {
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.75rem;

            & strong {
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 700;
                line-height: 1.75rem; /* 155.556% */
            }
        }

        &.noIllustration {
            & .body {
                display: flex;
                flex: 1 0 0;
                flex-direction: column;
                gap: 1.5rem;
                align-items: flex-start;
                padding: 2.5rem;
            }

            & .title {
                font-size: 1.75rem;
                font-style: normal;
                font-weight: 700;
                line-height: 2.25rem; /* 128.571% */
            }

            & .desc {
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.75rem; /* 155.556% */

                & strong {
                    font-size: 1.125rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1.75rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1248px) {
    .container {
        display: flex;
        gap: 2.5rem;
        align-items: center;
        align-self: stretch;
        padding: 1.5rem;

        & .illustration {
            flex: 1 0 0;
            height: 17.5rem;
            aspect-ratio: 500/280.58;
        }

        & .body {
            display: flex;
            flex: 1 0 0;
            flex-direction: column;
            gap: 1.5rem;
            align-items: flex-start;
            justify-content: center;
            padding: 1.5rem 2.5rem;
        }

        & .title {
            font-size: 2rem;
            font-style: normal;
            font-weight: 700;
            line-height: 2.5rem; /* 125% */
        }

        & .desc {
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.75rem;

            & strong {
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 700;
                line-height: 1.75rem; /* 155.556% */
            }
        }

        &.noIllustration {
            & .body {
                display: flex;
                flex: 1 0 0;
                flex-direction: column;
                gap: 1.5rem;
                align-items: flex-start;
                padding: 2.5rem;
            }

            & .title {
                font-size: 1.75rem;
                font-style: normal;
                font-weight: 700;
                line-height: 2.25rem; /* 128.571% */
            }

            & .desc {
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.75rem; /* 155.556% */

                & strong {
                    font-size: 1.125rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1.75rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .container {
        display: flex;
        gap: 2.5rem;
        align-items: center;
        align-self: stretch;
        padding: 1.5rem;

        & .illustration {
            flex: 1 0 0;
            height: 19.5rem;
            aspect-ratio: 139/78;
        }

        & .body {
            display: flex;
            flex: 1 0 0;
            flex-direction: column;
            gap: 1.5rem;
            align-items: flex-start;
            justify-content: center;
            padding: 1.5rem 2.5rem;
        }

        & .title {
            font-size: 2rem;
            font-style: normal;
            font-weight: 700;
            line-height: 2.5rem; /* 125% */
        }

        & .desc {
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.75rem;

            & strong {
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 700;
                line-height: 1.75rem; /* 155.556% */
            }
        }

        &.noIllustration {
            & .body {
                display: flex;
                flex: 1 0 0;
                flex-direction: column;
                gap: 1.5rem;
                align-items: flex-start;
                align-self: stretch;
                padding: 2.5rem;
            }

            & .title {
                font-size: 1.75rem;
                font-style: normal;
                font-weight: 700;
                line-height: 2.25rem; /* 128.571% */
            }

            & .desc {
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.75rem; /* 155.556% */

                & strong {
                    font-size: 1.125rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1.75rem;
                }
            }
        }
    }
}
