.frx-btn--hover {
    position: relative;
}

.frx-btn--hover-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.frx-btn--transparent {
    opacity: 0.7;
}

.fr-img--transparent-transition {
    transition: opacity 0.3s ease;
}

.frx-thumbnail {
    position: relative;
    width: 128px;
    height: 128px;
    img {
        width: 100%;
        height: 100%;
    }
}
