{% extends 'base.html.twig' %}

{% block body %}
    <div id="root" data-site-title="cartes.gouv.fr"></div>

    {% if app.user is defined and app.user is not null %}
        <div id="user" data-user="{{ app.user|serialize('json') }}"></div>
    {% endif %}

    <noscript>
        <p>JavaScript semble être désactivé sur votre navigateur, ce qui est nécessaire pour le bon fonctionnement de ce site. Veuillez activer JavaScript sur votre navigateur.</p>
    </noscript>
{% endblock %}
