{% extends 'base.html.twig' %}

{% block body %}
<div id="root" data-app-root="{{ app_root }}" data-app-env="{{ app.request.server.get('APP_ENV') }}" data-site-title="cartes.gouv.fr"></div>
<div id="user" {% if app.user %} data-user="{{ app.user|serialize('json') }}" {% endif %} ></div>

<noscript>
    <p>
        JavaScript semble être désactivé sur votre navigateur, ce qui est nécessaire pour le bon fonctionnement de ce site. Veuillez
        activer JavaScript sur votre navigateur.
    </p>
</noscript>
{% endblock %}
