.fr-text--center {
    text-align: center;
}
.c-section--gray {
    background-color: var(--background-alt-grey);
}
.fr-badge--pink {
    color: #6e445a;
    background: #fee7fc;
}
.fr-preline {
    white-space: pre-line;
}
@media (min-width: 30em) {
    .fr-tabs.fr-tabs--full button {
        padding: 0.5rem 1rem;
    }
}
.fr-display--xxs {
    font-size: 2.2rem !important;
    line-height: 2.9rem !important;
    font-weight: 700 !important;
    color: var(--text-default-grey);
}
@media (min-width: 48em) {
    .fr-display--xxs {
        font-size: 2.4rem !important;
        line-height: 3.1rem !important;
    }
}
.fr-tabscontent {
    display: none !important;
}
.fr-tabscontent.fr-tabscontent--active {
    display: block !important;
}
