.frx-permission {
    padding: 0.5rem;
}
.frx-permission-even {
    background-color: var(--background-alt-grey);
}

.fr-input-group--error label span.layer-name {
    color: var(--text-label-grey);
}
